<h1>Trending</h1>

{% for item in results %}
    <div style="border:1px solid #ccc; padding:15px; margin:15px 0; border-radius:8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); display: table;">
        {% if item.type == 'song' %}
            <div>
                <p>{{ item.data.title }} - {{ item.data.artist }}</p>

                <p>Likes: {{ item.data.like_count }}</p>

                <audio controls>
                    <source src="{% url 'soundbytes:stream_song' item.data.id %}" type="audio/mpeg">
                </audio>
            </div>

        {% elif item.type == 'post' %}
            <div>
                {% if item.data.text_content %}
                    <p>{{ item.data.text_content }}</p>
                {% endif %}

                {% if item.data.image %}
                    <img src="{{ item.data.image.url }}" width="200">
                {% endif %}

                <p>Likes: {{ item.data.like_count }}</p>
            </div>
        {% endif %}
    </div>
{% endfor %}