{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{% block title %} unconfigured {% endblock %}</title>
</head>
<body>
    <div id="topBar">
        <img src="{% static 'soundbyte_logo.png' %}" alt="soundbytes logo" class="soundbytesLogo"/>
        <h1><a href = "{% url 'landing' %}">soundbytes</a></h1>
    </div>

    <main style="height: 90%;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>