{% extends "onboarding/base.html" %}

{% load static %}

{% block title %}sign into soundbytes{% endblock %}

{% block content %}
    <div class="centerDiv" style="height: 100%;">
        <img src="{% static 'soundbyte_logo.png' %}" alt="soundbytes logo" style="height: 30%;" />

        <h2>Sign in</h2>

        <ul id="signInList">
            <li id="usernameInput">
                <input placeholder="username">
            </li>
            <li id="passwordInput">
                <input placeholder="password">
            </li>
        </ul>

        <br />
    </div>
{% endblock %}