html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #333333;
    color: white;
    height: 100vh;
    margin: 0;
}

main {
    height: 95%;
    margin-left: 8px;
    margin-right: 8px;
}

h1 {
    height: 100%;
    margin: 0px 12px;
}

h2 {
    height: 8%;
}

a {
    text-decoration: none;
    color: white;
}

/*concering register list */
#registerList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 12px 0;
    width: 20%;
}

#registerList input {
    color: #ffffff;
    background-color: #121212;
    width: 100%;
}

#registerList li {
    display: block;
}

/* concerning sign in list*/
#signInList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 12px 0;
    width: 20%;
}

#signInList input {
    color: #ffffff;
    background-color: #121212;
    width: 100%;
}

#signInList li {
    display: block;
}

.basicButtonGreen {
    text-decoration: none;
    border: 4px solid #0eab09;
    background-color: #10e410;
    padding: 6px;
    font-weight: 700;
    color: white;
}

#topBar {
    height: 5%;
    display: flex;
    background-color: #121212;
    padding: 4px 12px;
}

.soundbytesLogo {
    height: 100%;
}

.basicButton {
    text-decoration: none;
    border: 4px solid #000000;
    background-color: #121212;
    padding: 6px;
    font-weight: 700;
    color: white;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

#navBar a {
    display: block;
    background-color: #111111;
    text-align: center;
    text-decoration: none;
}

#navBar a:hover {
    display: block;
    background-color: #323232;
}