{% extends 'base.html' %}
{% load static %}

{% block title %}
	Sign-Up
{% endblock %}

{% block body %}
	<h1>Sign up to Soundbytes</h1>
	{% if registered %}
		You are now registered
		<a href="{% url 'soundbytes:signin' %}">Go to Sign In</a>
	{% else %}
		<form id="user_form" method="post" action="{% url 'soundbytes:signup' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
{% endblock %}