<!DOCTYPE html>
{% load static %}

<html>
	<head>
		{% block head %}
		{% endblock %}
		<title>
		{% block title %}
		{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
        <div class="sidebar">
            <button class="sidebar-button" id="sidebar-open" onclick="sb_open()">Open Menu</button>
            <div class="sidebar-main" id="sidebar-main" style="display:none">
                <button class="sidebar-button" id="sidebar-close" onclick="sb_close()">Close</button>
                <a href="{% url 'soundbytes:home' %}" class="sidebar-button">Home</a>
                <a href="{% url 'soundbytes:trending' %}" class="sidebar-button">Trending</a>
                <a href="{% url 'soundbytes:search_page' %}" class="sidebar-button">Search</a>
            {% if user.is_authenticated %}
                <a href="{% url 'soundbytes:profile' user.username %}" class="sidebar-button">{{ user.username }}'s Profile</a>
                <a href="{% url 'soundbytes:playlists' user.username %}" class="sidebar-button">My Playlists</a>
                <a href="{% url 'soundbytes:create_album' %}" class="sidebar-button">Create Album</a>
                <a href="{% url 'soundbytes:upload' %}" class="sidebar-button">Upload Song</a>
                <a href="{% url 'soundbytes:signout' %}" class="sidebar-button">Sign Out</a>
            {% else %}
                <a href="{% url 'soundbytes:signin' %}" class="sidebar-button">Sign In</a>
                <a href="{% url 'soundbytes:signup' %}" class="sidebar-button">Sign Up</a>
            {% endif %}
            </div>

            <script>
                function sb_open() {
                document.getElementById("sidebar-main").style.display = "block";
                document.getElementById("sidebar-open").style.display = "none";
                }

                function sb_close() {
                document.getElementById("sidebar-main").style.display = "none";
                document.getElementById("sidebar-open").style.display = "block";
                }
            </script> 
        </div>
        <div class="main">
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>
